<!--
  Generated template for the JogosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Jogos</ion-title>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h2 text-center> Proximos Amistosos </h2>
<ion-grid *ngFor="let Jogos of Jogos | async">
  <ion-row (click)="OpenJogoDetalhes(Jogos.key,Jogos.time1,Jogos.time2,Jogos.data,Jogos.gols1,Jogos.gols2)" *ngIf="Jogos.gols1 == '' && Jogos.gols2 == ''">
    <ion-col text-center> 
      <h4>{{ Jogos.time1 }} {{ Jogos.gols1 }} </h4>  
        <br>
      <img src="../../assets/imgs/no-photo.png" style="height: 100px;width: 100px" />
    </ion-col>
    <ion-col text-center style="padding-top: 35%;font-size:large "> X </ion-col>
    <ion-col text-center>
    <h4>{{ Jogos.time2 }} {{ Jogos.gols2 }}</h4>  
      <br>
      <img src="../../assets/imgs/no-photo.png" style="height: 100px;width: 100px" />
    </ion-col>
  </ion-row>
  <br>
  <br>
</ion-grid>

<div style="background-color:rgba(11, 85, 14, 0.308);margin:0px;">
<br>
<h2 text-center style="color:white"> Amistosos  Antigos</h2>
<br>
<br>
<ion-grid *ngFor="let Jogos of Jogos | async">
<ion-row (click)="OpenJogoDetalhes(Jogos.key,Jogos.time1,Jogos.time2,Jogos.data,Jogos.gols1,Jogos.gols2)" *ngIf="Jogos.gols1 != '' && Jogos.gols2 != ''">
  <ion-col text-center> 
    <h4 style="color:whitesmoke"> {{ Jogos.time1 }} </h4>  
      <br>
    <img src="../../assets/imgs/no-photo.png">
  </ion-col>
  <ion-col text-center style="padding-top: 30%;font-size:large;color:whitesmoke">{{ Jogos.gols1 }} X {{ Jogos.gols2 }}</ion-col>
  <ion-col text-center>
  <h4 style="color:whitesmoke">{{ Jogos.time2 }} </h4>  
    <br>
    <img src="../../assets/imgs/no-photo.png">
  </ion-col>
</ion-row>
<div style="background-color: dimgray;color:white" *ngIf="Jogos.gols1 != '' && Jogos.gols2 != ''" text-center>Jogado em: {{ Jogos.data | date: 'dd/MM/yyyy' }}</div>
<br>
<br>
</ion-grid>
</div>
</ion-content>
