<!--
  Generated template for the LoginadminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login Admin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #form="ngForm" novalidate>
    <ion-list>
  
      <ion-item>
        <ion-label stacked>ID</ion-label>
        <ion-input type="text" name="id" [(ngModel)]="admin.id" #id="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="id.errors && (id.dirty || id.touched)" class="text-danger">
        O campo é obrigatório
      </ion-item>
  
      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" name="senha" [(ngModel)]="admin.senha" #senha="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="senha.errors && (senha.dirty || senha.touched)" class="text-danger">
        O campo é obrigatório
      </ion-item>
  
    </ion-list>
  
    <button ion-button block color="primary" [disabled]="!form.form.valid" (click)="signIn()">
      Login
    </button>
  </form>

</ion-content>
